/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {

    .homeContainer .homeWrapper .projectLogo {
        position: relative;
        justify-content: center;
        padding: 0;
    }

    .homeContainer .homeWrapper .projectLogo img {
        max-height: 150px;
    }

}

@media only screen and (min-width: 1024px) {

    .homeContainer .homeWrapper .projectLogo {
        position: relative;
        justify-content: center;
        padding: 0;
    }

    .homeContainer .homeWrapper .projectLogo img {
        max-height: 150px;
    }

    .navigationSlider .slidingNav ul li a {
        font-weight: 500;
    }

}

@media only screen and (max-width: 1023px) {

    .homeContainer .homeWrapper .projectLogo {
        position: relative;
        justify-content: center;
        padding: 0;
    }

    .homeContainer .homeWrapper .projectLogo img {
        max-height: 150px;
    }

}

@media only screen and (min-width: 1200px) {

    .homeContainer .homeWrapper .projectLogo {
        position: relative;
        justify-content: center;
        padding: 0;
    }

    .homeContainer .homeWrapper .projectLogo img {
        max-height: 150px;
    }

}

@media only screen and (min-width: 1400px) {

    .homeContainer .homeWrapper .projectLogo {
        position: relative;
        justify-content: center;
        padding: 0;
    }

    .homeContainer .homeWrapper .projectLogo img {
        max-height: 150px;
    }

}

@media only screen and (min-width: 1500px) {

    .homeContainer .homeWrapper .projectLogo {
        position: relative;
        justify-content: center;
        padding: 0;
    }

    .homeContainer .homeWrapper .projectLogo img {
        max-height: 150px;
    }

}

.navPusher {
    padding-top: 50px;
}

.navigationSlider .slidingNav ul {
    margin-top: 0px;
}

.navigationSlider {
    z-index: 99999;
}